@CHARSET "UTF-8";

.links {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    height: 60px;
}

.links a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    float: left;
    border-right:1px solid #bbb;    
    height: 30px;
}

.links select {
	float: right;
	height: 60px;	
}

.manageAccountsColumn1 { width: 200px; }
.manageAccountsColumn2 { width: 200px; }
.manageAccountsColumn3 { width: 200px; }
.manageAccountsColumn4 { width: 200px; }
.manageAccountsColumn5 { width: 200px; }
.manageAccountsColumn6 { width: 200px; }
.manageAccountsColumn7 { width: 200px; }
.manageAccountsColumn8 { width: 200px; }
.manageAccountsColumn9 { width: 200px; }
.manageAccountsColumn10 { width: 200px; }

